* {
    padding: 0;
    margin: 0;
    color: #d4d5d6;
    background-color: #1d1e1f;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 90%;
    text-align: center;
    padding: 5%;
}

nav, fieldset {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    height: 5vh;
    font-size: large;
}

button {
    width: fit-content;
    padding: 1.5%;
    text-align: center;
    justify-content: center;
    box-shadow: none;
    border: 1px solid #6d6d6d;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

#notes-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2%;
}

.note {
    display: grid;
    grid-template: 1fr/ 1.8fr 1fr 0.2fr;
    align-items: center;
    justify-items: start;
    width: 90%;
    margin: 0.5em 0;
    padding: 1.5em 1em;
    border-radius: 4px;
    background-color: #d4d5d611;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    font-size: 0.7em;
}

.note * {
    background-color: #d4d5d611;
}

#theme, #themeColorAssist {
    padding: 0.7em;
    border-radius: 4px;
}

section, form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    column-gap: 1em;
}

nav, fieldset {
    padding: 1em 0 0.5em 0;
}

fieldset {
    border: 0px;
}

textarea {
    resize: none;
    overflow: hidden;
    height: 60vh;
    display: block;
    border: 0px;
    outline: none;
    padding: 1em 0.5em;
    color: #c4c8cc;
    background-color: #d4d5d609;
    box-shadow:  0 2px 4px 0 rgba(71, 71, 71, 0.2), 0 2px 4px 0 rgba(66, 66, 66, 0.19);
}

select {
    width: 35%;
    height: 1.7em;
    margin: 0.7em 0;
    border-radius: 4px;
}

#title {
    padding: 1em 0.5em;
    justify-content: center;
    border: 0;
    border-bottom: 1px solid #c4c8cc3d;
}
 
#title:focus {
    background-color: #d4d5d609;
    border: 0;
    outline: 0;
}

#theme-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#themeColorAssist {
    margin-left: 3%;
}

