* {
    font-family: sans-serif,Verdana, Geneva, Tahoma;
}

body{
    padding:1em;
    font-size: calc(16px + 0.390625vw);
    background-color: #190B28;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    padding:1em 0;
    color:white;
}

.sensor-list {
    margin: 0 auto;
    max-width: 900px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sensor-container {
    display: grid;
    grid-template-areas: "activate period"
                    "values values";
    grid-template-columns: 55% 33%;
    justify-content: center;
    justify-items: stretch;
    column-gap: 2em;
}

.sensor-container button {
    grid-area: activate;
    box-sizing: border-box;
    background-color: #d66700 ;
    color:white;
    max-width: max-content;
    padding:0.5rem;
    border: 0px;
    border-radius: 10px;
    font-size: 1.03rem;
    font-weight: bold;

}
button:disabled{
    background-color: #685762;
    color:#c5c5c5;
}

button.active {
    background-color:#ea8a31;
    color:rgb(234, 234, 234);
}

.sensor-container input {
    grid-area: period;
    box-sizing: border-box;
    padding:0.7rem;
    border-radius: 20px;
    border: 2px solid #ff7d00;
    background-color: #ffffffe6;
}

input:disabled {
    background-color: #80808031;
    color:#cbcbcb60;
    border:0px;
}

::placeholder {
    color: #585858be;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #585858be;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: #585858be;
}

.sensor-container p {
    grid-area: values;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    padding: 0 0.5rem;
    color: white;
}
